<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Dados | ePredict</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/"><h2>ePredict API</h2></a>
        </div>
        <p><strong>Links úteis</strong></p>
        <div class="wrapper link-wrapper">
            <a href="api-doc">Guia de uso</a>
            <a href="https://github.com/andersontchuy/epredictapi" target="_blank">Código fonte</a>
            <a href="evasao/" target="_blank">Predição Geral</a>
        </div>
        <div class="wrapper member-wrapper">
            <h3>Time</h3>
            <ul>
                <li>Anderson de Oliveira Costa</li>
                <li>Breno Rodrigo da Silva</li>
                <li>Daniel Chaffe Stone</li>
                <li>Diogo Sebastião Fernandes Guimarães</li>
                <li>Douglas Nery de Carvalho</li>
                <li>Franceles Bezerra de Oliveira</li>
                <li>Joelson Coelho Costa</li>
                <li>Leila Aparecida Santos Motta Cunha</li>
                <li>Manoel Renan Oliveira Júnior</li>
                <li>Matheus Silva Santos</li>
            </ul>
        </div>
    </div>
</body>
</html>